@model BookStore.Domain.Entities.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { @class = "basic-grey" }))
{
    <h1><span>Create</span></h1>
    <label>
        <span>Title</span>
        @Html.EditorFor(b => b.Title, new { @class = "single-line" })
    </label>
    <label>
        <span>First Name</span>
        @Html.EditorFor(b => b.Author.First_Name, new { @class = "single-line" })
    </label>
    <label>
        <span>Middle Name</span>

        @Html.EditorFor(b => b.Author.Middle_Name, new { @class = "single-line" })
    </label>
    <label>
        <span>Last Name</span>
        @Html.EditorFor(b => b.Author.Last_Name, new { @class = "single-line" })
    </label>
    <label>
        <span>&nbsp</span>
        <input type="submit" class="button" value="Save" />
    </label>

    @Html.ActionLink("Cancel and return to List", "Index")
}








