@model BookStore.Domain.Entities.Book

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>Create</h2>

            @using (Html.BeginForm("FindBookImages", "Admin"))
            {
                @Html.TextBoxFor(model=>@Model.Author.Name)
                @Html.TextBoxFor(model => @Model.Title)
                <input type="submit" value="Save" />
                @Html.ActionLink("Cancel and return to List", "Index")
            }
        
            
    

          