@model BookStore.Domain.Entities.Book

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    <div class="editor-label">@Html.LabelFor(b => b.Title, new { @class = "single-line" })</div>
    <div class="editor-field">@Html.EditorFor(b => b.Title, new { @class = "single-line" })</div>
    <div class="editor-label">@Html.LabelFor(b => b.Author.Name, new { @class = "single-line" })</div>
    <div class="editor-field">@Html.EditorFor(b => b.Author.Name, new { @class = "single-line" })</div>
    <div class="editor-label">@Html.LabelFor(b => b.Genre, new { @class = "single-line" })</div>
    <div class="editor-field">@Html.EditorFor(b => b.Genre, new { @class = "single-line" })</div>
    <div class="editor-label">@Ajax.ActionLink("Search Annotation", "FindBookAnnotation", "Admin", new { Title = @Model.Title, Author = @Model.Author.Name, bookID=@Model.BookID }, new AjaxOptions { UpdateTargetId = "search", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })</div>
    <div class="editor-field">@Html.EditorFor(b => b.Annotation, new { @class = "single-line" })</div>
    <div class="editor-label">@Ajax.ActionLink("Search Image", "FindBookImage", "Admin", new { Title = @Model.Title, Author = @Model.Author.Name }, new AjaxOptions { UpdateTargetId = "search", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })</div>
    <div class="editor-field">@Html.EditorFor(b => b.Image_url, new { @class = "single-line" })</div>
    <div class="editor-label">@Html.LabelFor(b => b.Price, new { @class = "single-line" })</div>
    <div class="editor-field">@Html.EditorFor(b => b.Price, new { @class = "single-line" })</div>
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "Index")
}
