@model BookStore.DO.Entities.Book
@using BookStore.HtmlHelpers
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" id="edit">
            <h2>Edit</h2>
            @using (Html.BeginForm())
            {
                @Html.EditorFor(b => b.Book_ID)
                <div class="editor-label">@Html.LabelFor(b => b.Title, new { @class = "single-line" })</div>
                <div class="editor-field">@Html.EditorFor(b => b.Title, new { @class = "single-line" })</div>
                <div id="Authors">
                    <a href="#" class="glyphicon glyphicon-plus" aria-hidden="true" onclick="return addField('Author')"></a>
                    @Html.EditorFor(b => b.BookAuthors, new { @class = "single-line" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(b => b.Genres, new { @class = "single-line" })
                    <a href="#" class="glyphicon glyphicon-plus" aria-hidden="true" onclick="return addField('Genre')"></a>
                </div>
                <div id="Genres">
                    @Html.EditorFor(b => b.Genres, new { @class = "single-line" })
                </div>
                <div class="editor-label">
                    @Ajax.ActionLink("Search Annotation", "FindBookAnnotation", "Admin",
                        new {title = @Model.Title, lastName = @Model.BookAuthors.First().Last_Name, firstName = @Model.BookAuthors.First().First_Name, bookId = @Model.Book_ID},
                        new AjaxOptions {UpdateTargetId = "search", InsertionMode = InsertionMode.Replace, HttpMethod = "POST"})
                </div>
                <div class="editor-field">@Html.TextAreaFor(b => b.Annotation, new { @class = "text-box multi-line", id = "AreaText" })</div>
                <div class="editor-label">
                    @Ajax.ActionLink("Search Image", "FindImage", "Admin",
                  new { title = @Model.Title, lastName = @Model.BookAuthors.First().Last_Name, firstName = @Model.BookAuthors.First().First_Name, Id = @Model.Book_ID },
                new AjaxOptions { UpdateTargetId = "search", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" })
                </div>
                <div class="editor-field">@Html.EditorFor(b => b.Image_url, new { @class = "single-line" })</div>
                <div class="editor-label">@Html.LabelFor(b => b.Price, new { @class = "single-line" })</div>
                <div class="editor-field">@Html.EditorFor(b => b.Price, new { @class = "single-line", type = "number", step = "any" })</div>
                <div class="editor-label">
                    @Html.LabelFor(b => b.Tages, new { @class = "single-line" })
                    <a href="#" id="addField" class="glyphicon glyphicon-plus" aria-hidden="true" onclick=" return addField('Tag') "></a>
                </div>
                <div class="editor-field" id="Tags">
                    @Html.EditorFor(t => t.Tages, new { @class = "single-line" })
                </div>
                <div class="editor-label">@Html.LabelFor(b => b.ContentUrl, new { @class = "single-line" })</div>
                <div class="editor-field">@Html.EditorFor(b => b.ContentUrl, new { @class = "single-line" })</div>
                <input type="submit" class="btn-default btn" value="Сохранить" />
                <button class="btn-default btn" href="@Url.Action("Index","Admin")">Отменить</button>
            }
        </div>
        <div class="col-md-8">
            <div class="file">
                <input type="file" class="ui-autocomplete-input" name="upload" id="file_upload" />
                <button class="btn btn-primary glyphicon glyphicon-upload g-lg" onclick="uploadFile('@Model.Title', '@Model.BookAuthors.First().Last_Name')"></button>
            </div>
            <div id="search"></div>
        </div>
    </div>
</div>
