@model IEnumerable<BookStore.DO.Entities.Book>

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Books</h2>
<div class="links">
    @Html.ActionLink("Create New", "Create", "Admin", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Home", "List", "Book", null, new { @class = "btn btn-default" })
</div>

<table class="Grid table table-condensed table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.BookAuthors.First().First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookAuthors.First().Middle_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookAuthors.First().Last_Name)
        </th>
        <th class="NumericCol">
            @Html.DisplayNameFor(model => model.Rating)
        </th>       
        <th class="NumericCol">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Annotation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink(item.Title, "Edit", new { bookID = item.Book_ID })</td>
            <td>@Html.DisplayFor(modelItem => item.BookAuthors.First().First_Name)</td>
            <td>@Html.DisplayFor(modelItem => item.BookAuthors.First().Middle_Name)</td>
            <td>@Html.DisplayFor(modelItem => item.BookAuthors.First().Last_Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Rating)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td><p class="annotation">@Html.DisplayFor(modelItem => item.Annotation)</p></td>
            <td>
                @using (Html.BeginForm("Delete", "Admin"))
                {
                    @Html.Hidden("BookID", item.Book_ID)
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
</table>
