<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/bootstrap3-typeahead.js"></script>
    
    <link href="~/content/star-rating.css" rel="stylesheet" />
    <script src="~/scripts/star-rating.js"></script>
    <script src="~/scripts/rate.js"></script>
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="container-fluid">
        <div class="row header">
            <div class="col-md-3 logo">
                <a href="/"><h1 id="logo">Book Library</h1></a>
            </div>
            <div class="col-md-6">
                <input id="typeahead" class="typeahead input-lg " placeholder="Поиск" type="text" data-provide="typeahead">
                
            </div>
            <div class="col-md-3 user">
                @{Html.RenderAction("UserLogin", "Account");}
            </div>
        </div>
        <div class="alphabet row">
            <div class="col-md-12">
                @{Html.RenderAction("Alphabet", "Nav");}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-lg-2">
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#genres">
                                Жанры
                            </a>
                        </div>
                        <div id="genres" class="accordion-body collapse">
                            <div class="accordion-inner">
                                @{Html.RenderAction("Genres","Nav");}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#authors">
                                Авторы
                            </a>
                        </div>
                        <div id="authors" class="accordion-body collapse">
                            <div class="accordion-inner">
                                @{Html.RenderAction("Authors","Nav");}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-lg-10 content">
                @RenderBody()
            </div>
        </div>
    </div>

    <div id="PopupWrapper"></div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)

</body>
</html>
