@model BookStore.Models.BookViewModel
<div class="container-fluid book ">
    <div class="row itemb">
        <div class="col-md-9 col-lg-9 ">
            <p class="title">@Model.Book.Title</p>
            @Html.HiddenFor(x => x.Book.Book_ID, new { id = "thisBookId" })
            @foreach (var author in Model.Book.BookAuthors)
            {
                <a href="@Url.Action("Index", "Author", new {authorId = author.Author_ID})" class="author">
                    @author.First_Name @author.Middle_Name @author.Last_Name
                </a>
            }
            <br />
            @foreach (var genre in Model.Book.Genres)
            {
                <p class="genre">@genre.Genre_Name</p>
            }
            <p class="annotation">@Model.Book.Annotation</p>
            <p class="glyphicon glyphicon-star rate" aria-hidden="true">@Model.Book.Rating</p>
            <p class="price">@Model.Book.Price.ToString("c")</p>
            <p class="genre">Теги:</p>
            <div class="tags">
                @foreach (var tag in @Model.Book.Tages)
                {
                @Html.ActionLink(tag.Tag_Name, "ListByTag", "Book", new {tagID = tag.Tag_ID}, null)
                }
            </div>
            <div class="myRate">
                @{
                    if (Session["UserId"] != null)
                    {
                        Html.RenderAction("BookRating", "Book", new { bookId = @Model.Book.Book_ID });
                    }
                }
            </div>
            <div class="comments">
                <div class="detailBox">
                    <div class="actionBox">
                        <ul class="commentList">
                            @{Html.RenderPartial("GetComment",  @Model.Comments);}
                        </ul>
                        <div class="form-group form-input">
                            @{
                                if (Session["UserId"] != null)
                                {
                                    Html.RenderAction("AddComment", "Book", new { bookId = @Model.Book.Book_ID });
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="statistic">
                <h1>Статистика</h1>
                <div>
                    <p>Все читатели:</p>
                    <a href="#">
                        @Model.AverageMark.ToString("F")
                        <span class="badge glyphicon glyphicon-user g-lg">@Model.RatedUsersCount.ToString("D")</span>
                    </a>
                </div>
                <div>
                    <p>Хотят почитать:</p>
                    <a href="#">
                        <span class="badge glyphicon glyphicon-user g-lg" id="wishedUsers">@Model.WishedUsersCounter.ToString("D")</span>
                    </a>
                </div>
            </div>
    </div>
    <div class="col-md-3 col-lg-3 image">
        @if (Model.Book.Image_url != null)
        {
            <img src="@Url.Content(Model.Book.Image_url)" class="img-thumbnail" alt="images" />
        }
        else
        {
            <img src="@Url.Content("~/Content/Images/imgBook0.jpg")" class="img-thumbnail" alt="images" />
        }
        <div class="wish">
            @{
                if (Session["UserId"] != null && !@Model.IsReadedOrWished)
                {
                    <a class="btn btn-primary glyphicon glyphicon-heart" id="wish" onclick="return WishBook(@Model.Book.Book_ID, @Session["userId"])"> Хочу почитать</a>
                }
            }
        </div>
        <div class="fb2">
            @{
                if (Model.Book.ContentUrl != null)
                {
                    @Html.ActionLink("Читать", "Fb2Text", "Book", new { path = @Model.Book.ContentUrl }, null);
                <a href="@Url.Content(@Model.Book.ContentUrl)">Скачать</a>
                }
            }
        </div>
       
    </div>
</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
</div>
