@model BookStore.DO.Entities.Book
<div class="container-fluid book ">
    <div class="row itemb">
        <div class="col-md-10 col-lg-10 ">
            <p class="title">@Model.Title</p>
            @foreach (var author in Model.BookAuthors)
            {
                <p class="author">@author.First_Name @author.Middle_Name @author.Last_Name</p>
            }
            @foreach (var genre in Model.Genres)
            {
                <p class="genre">@genre.Genre_Name</p>
            }
            <p class="annotation">@Model.Annotation</p>
            <p class="glyphicon glyphicon-star rate" aria-hidden="true">@Model.Rating</p>
            <p class="price">@Model.Price.ToString("c")</p>
            <p class="genre">Теги:</p>
            <div class="tags">
                @foreach (var tag in @Model.Tages)
                {
                    @Html.ActionLink(tag.Tag_Name, "ListByTag", "Book", new {tagID = tag.Tag_ID}, null)
                }
            </div>
            
            <input id="input-id" bookId="@Model.Book_ID" type="number"  class="rating" star=10 size="sm" min=0 max=10 step=1 data-size="sm" data-rtl="false">
        </div>
        <div class="col-md-2 col-lg-2 image">
            <img src="@Model.Image_url" class="img-thumbnail"/>
            @*@Html.Action("RateBook","Book",new{rate=7});*@
        </div>
    </div>
</div>
